@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PatchedPersonalUseOnlyBlack';
  src: local('PatchedPersonalUseOnlyBlack'), url('/fonts/PatchedPersonalUseOnlyBlack-GOyOG.otf') format('trueType');
}

.fontti {
  font-family: PatchedPersonalUseOnlyBlack;
}

.app {
  background-color: #3b3b3b;
  min-height: 100vh;
}

.error-message {
  font-size: 0.8rem;
  color: red;
  margin-top: 0.2rem;
}

/* LOADER */
.loader {
  display: flex; 
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.wheel {
  fill: rgb(128, 128, 128);
  font-size: 100px;
  width: 100px;
  height: 100px;
  border-radius: 6em;
  text-align: center;
  animation: rolling 1s linear infinite;
}

#rim {
  fill: rgb(126, 126, 126);
}

#tire {
  fill: rgb(55, 55, 55);
}

/* IMAGE UPLOAD */
.file-upload-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-upload-label input {
  display: none;
}
.file-upload-label svg {
  height: 60px;
  fill: #450a0a;
  margin-bottom: 10px;
}
.file-upload-label {
  cursor: pointer;
  background-color: #3f3f46;
  padding: 30px 70px;
  border-radius: 40px;
  border: 3px dashed rgb(34, 33, 33);
}
.file-upload-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@keyframes rolling {
  to {
    transform: rotate(360deg); 
  }
}