@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PatchedPersonalUseOnlyBlack';
  src: local('PatchedPersonalUseOnlyBlack'), url('/fonts/PatchedPersonalUseOnlyBlack-GOyOG.otf') format('trueType');
}

.fontti {
  font-family: PatchedPersonalUseOnlyBlack;
}

.app {
  background-color: #3b3b3b;
  min-height: 100vh;
}