@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PatchedPersonalUseOnlyBlack';
  src: local('PatchedPersonalUseOnlyBlack'), url('/fonts/PatchedPersonalUseOnlyBlack-GOyOG.otf') format('trueType');
}

.fontti {
  font-family: PatchedPersonalUseOnlyBlack;
}

.app {
  background-color: #3b3b3b;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}